body {
    box-sizing: border-box;
}

h1 {
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 39.07px;
    line-height: 59px;
    text-align: center;
}

button {
    box-sizing: border-box;
    width: 263px;
    height: 70px;
    border-radius: 50px;
    margin: 16px;
}

.page_container {
    background-color: white;
}